h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(36, 92, 190);
  height: 15vh;
}

header {
  margin-bottom: 20px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#summary {
  font-size: 24px;
}

#tracker {
  font-size: 40px;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  background-color: whitesmoke;
  width: 100%;
}
